<!-- shows formatted comment on post -->

<li>
  <h4>{{comment.user}} says:</h4>
  {{comment.entry}}
  {{update-comment comment=comment update="update"}}
  <button {{action 'delete' comment}}>Delete</button>
</li>
