*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0;
  letter-spacing: 3px;
  font-family: monospace;
}

nav {
  background: black;
  width: 100%;
  height: 180px;
  overflow: visible;
  text-align: center;
  font-family: 'Share Tech Mono';
  h1 {
    font-size: 80px;
    animation: flashy .3s ease-in-out infinite;
    margin-top: 20px;
  }
  a {
    color: white;
    padding: 5px 10px;
  }
}

.container {
  margin: 20px 50px;
}

@keyframes flashy{
  0%{color: black;}
  50%{color: lime;}
  100%{color: black;}
}

@keyframes borderFlash{
  0%{border: 1px solid fuchsia;
    color: lime;
  }
  50%{border: 3px solid lime;
    color: fuchsia;
  }
  100%{border: 1px solid fuchsia;
    color: lime;
  }
}

@keyframes bounce{
  0%{font-size: 1.5em; }
  50%{font-size: 1.7em;}
  100%{font-size: 1.5em;}
}

img {
  height: 300px;
  width: 500px;
}

li {
  margin: 30px;
  list-style-type: none;
  padding: 15px;
  a{
    text-decoration: none;
    font-size: 1.5em;
    color: fuchsia;
    &:hover{
      animation: bounce .3s ease-in-out infinite;
    }
  }
}

button {
  border: none;
  background: black;
  padding: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  animation: flashy .3s ease-in-out infinite;
  margin-top: 20px;
}

form {
  label {
    padding: 10px;

  }
  input {
    border: none;
    background: #eee;
    padding: 5px;
    margin: 10px;
    width: 200px;
    &:focus {
      outline: none;
      animation: borderFlash .3s ease-in-out infinite;
    }
  }
  textarea {
    border: none;
    background: #eee;
    padding: 5px;
    margin: 10px;
    width: 400px;
    height: 200px;
    &:focus {
      outline: none;
      animation: borderFlash .3s ease-in-out infinite;
    }
  }
}

.styleFont {
  font-weight: bold;
  font-size: 15px;
}

.postButtons {
  display: flex;
  button {
    flex-direction: row;
    margin: 10px;
  }
}
