<nav>
  {{#link-to 'index'}}Home{{/link-to}}
  {{#link-to 'contact'}}Contact{{/link-to}}
  {{#link-to 'admin'}}Admin{{/link-to}}
</nav>

<div class="container">
  {{outlet}}
</div>


<footer>

</footer>
