<h1>Contact!</h1>

<p>
  This is all about me I like to tell ghost stories and play with lazerz. 420 errydai. I also like sticker art.
</p>

<p>
  I'm so cool. Here's a super rad hella tight email:
  <b>coolguy420@dankku$h.net</b>
</p>
