<!-- home pg -->

<!-- Add model.posts later when hash is implemented -->

<div class="homepage">
  <h2>Blog Posts</h2>
  <ul>
    {{#each model.posts as |post|}}
    {{post-tile post=post}}
    {{/each}}
  </ul>
</div>

<h2>New Sicky Gnar Post</h2>

{{new-post savePost2="savePost3"}}
